@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #101112;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101112;
    --foreground: #f8f8f8;
  }

  body {
    background-image: image-set( url('/images/bg-dark.webp') 1x, url('/images/bg-dark.png') 1x);
    background-size: cover;
    background-repeat: no-repeat;;
    background-attachment: fixed;
    background-position: center;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


html, body {
  height: 100%;
  min-height: 100dvh;
  scrollbar-width: none;
}

